.button {
  background-color: #bb1333;
  color: white;
  border-radius: 20px;
  width: 100px;
  height: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1rem;
}
.container {
  max-width: 1200px;
  display: flex;
  align-items: center;
  margin: 0 auto;
  margin-top: 50px;
}
a {
  text-decoration: none;
  color: black;
}
header {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
}
.header-bar {
  max-width: 1200px;
  height: 50px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
}
.header-bar .logo {
  font-family: 'Roboto Slab', serif;
  font-size: 2rem;
  color: #bb1333;
}
.header-bar nav a {
  margin-left: 20px;
  margin-right: 20px;
}
.header-bar .header-buttons {
  display: flex;
  flex-direction: row;
}
.header-bar .header-buttons .get-started-btn {
  background-color: #bb1333;
  color: white;
  border-radius: 20px;
  width: 100px;
  height: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1rem;
  border-radius: 0;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  border-width: 1px;
  border-color: #bb1333;
  border-style: solid;
}
.header-bar .header-buttons .log-in-btn {
  background-color: #bb1333;
  color: white;
  border-radius: 20px;
  width: 100px;
  height: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1rem;
  background-color: white;
  color: #bb1333;
  border-radius: 0;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  border-width: 1px;
  border-color: #bb1333;
  border-style: solid;
}
footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}
footer .footer-bar {
  width: 1200px;
  margin: 0 auto;
}
footer .references {
  text-align: center;
}
.hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 554.15px;
}
.hero .hero-image {
  position: absolute;
  max-width: 1200px;
  z-index: -1;
  opacity: 0.2;
}
.hero h1 {
  padding-top: 175px;
  font-size: 3rem;
}
.hero p {
  font-size: 1.5rem;
}
.hero a {
  text-decoration: none;
}
.hero .get-started-btn {
  background-color: #bb1333;
  color: white;
  border-radius: 20px;
  width: 100px;
  height: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 35px;
  width: 150px;
  font-size: 1rem;
}
.hero .why-teambuilder {
  margin-top: 65px;
  font-size: 1rem;
  margin-block-end: 5px;
  font-weight: bold;
}
.hero .down-arrow {
  width: 20px;
}
