.button {
  background-color: blue;
  color: red;
  border-radius: 20px;
  width: 100px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.container {
  width: 1200px;
  display: flex;
  align-items: center;
  margin: 0 auto;
  margin-top: 50px;
}
header {
  width: 100%;
  position: fixed;
  top: 0;
}
.header-bar {
  max-width: 1200px;
  height: 50px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
}
.header-bar .header-buttons {
  display: flex;
  flex-direction: row;
}
.header-bar .header-buttons .get-started-btn {
  background-color: blue;
  color: red;
  border-radius: 20px;
  width: 100px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 0;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
}
.header-bar .header-buttons .log-in-btn {
  background-color: blue;
  color: red;
  border-radius: 20px;
  width: 100px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: red;
  color: blue;
  border-radius: 0;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
}
nav a {
  margin-left: 20px;
  margin-right: 20px;
}
.hero {
  background-image: url("./assets/img/hero-img-home.jpg");
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 400px;
}
.hero h1 {
  padding-top: 100px;
}
.hero .get-started-btn {
  background-color: blue;
  color: red;
  border-radius: 20px;
  width: 100px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 150px;
  margin-top: 30px;
}
