.hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 554.15px;

  img {
    position: absolute;
    max-width: @container-width;
    z-index: -1;
    opacity: .2;
  }

  h1 {
    padding-top: 175px;
  }

  .get-started-btn {
    .button;
    width: 150px;
    margin-top: 50px;
  }

  .learn-more {
    margin-top: 50px;
  }
}
