.hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 554.15px;

  .hero-image {
    position: absolute;
    margin: 0 auto;
    max-width: @container-width;
    z-index: -1;
    opacity: .2;
  }

  h1 {
    padding-top: 175px;
    font-size: 3rem;
  }

  p {
    font-size: 1.5rem;
  }

  a {
    text-decoration: none;
  }

  .get-started-btn {
    .button;
    margin-top: 35px;
    width: 150px;
    font-size: 1rem;
  }

  .why-link {
    margin-top: 65px;
    font-size: 1rem;
    margin-block-end: 5px;
    font-weight: bold;
  }

  .down-arrow {
    width: 20px;
  }
}

.why-teambuilder {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  background-color: #55596d;
  color: white;
}

.content-block {
  display: flex;
  flex-direction: row;
  width: 100%;

  .content-block-small {
    width: 35%;

    img {
      width: 100%;
    }
  }

  .content-block-big {
    width: 65%;
  }
}
