.hero {
  background-image: url("../assets/img/opaque-hero-home.png");
  background-position: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  padding-top: 150px;
  padding-bottom: 10px;

  h1 {
    font-size: 3rem;
    text-align: center;

    @media @tablet {
      font-size: 2.5rem;
    }

    @media @phone {
      font-size: 2rem;
    }
  }

  p {
    font-size: 1.5rem;
    text-align: center;

    @media @tablet {
      font-size: 1.25rem;
    }

    @media @phone {
      font-size: 1rem;
    }
  }

  a {
    text-decoration: none;
  }

  .get-started-btn {
    .button;
    margin-top: 35px;
    width: 150px;
    font-size: 1rem;
    &:hover {
      background-color: @secondary-color;
      color: @primary-color;
    }
  }

  .why-link {
    margin-top: 65px;
    font-size: 1rem;
    margin-block-end: 5px;
    font-weight: bold;
  }

  .down-arrow {
    width: 20px;
  }
}

.why-teambuilder {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin-top: 50px;
  margin-bottom: 50px;
}

h2 {
  text-align: center;
  font-size: 2rem;

  @media @tablet {
    font-size: 1.6rem;
  }

  @media @phone {
    font-size: 1.25rem;
  }
}

.content-block {
  display: flex;
  flex-direction: row;
  width: 80%;
  margin-top: 50px;

  .content-block-small {
    width: 35%;

    img {
      width: 100%;
    }
  }

  .content-block-large {
    width: 65%;
    padding-left: 50px;

    h3 {
      font-size: 1.5rem;

      @media @tablet {
        font-size: 1rem;
      }

      @media @phone {
        font-size: .8rem;
      }
    }

    p {
      font-size: 1.25rem;

      @media @tablet {
        font-size: .9rem;
      }

      @media @phone {
        font-size: .8rem;
    }
  }
}
}
