// Navigation Styles here
header {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: white;
}

.header-bar {
  max-width: @container-width;
  height: @header-height;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;

  .logo {
    font-family: 'Roboto Slab', serif;
    font-size: 2rem;
    color: @primary-color;
  }

  nav {
    a {
      margin-left: 20px;
      margin-right: 20px;
    }

    @media @mobile {
      display: none;
      flex-direction: column;
    }
  }

  .header-buttons {
    display: flex;
    flex-direction: row;

    @media @mobile {
      display: none;
    }

    .get-started-btn {
      .button;
      border-radius: 0;
      border-top-left-radius: 20px;
      border-bottom-left-radius: 20px;
      &:hover {
        background-color: @tertiary-color;
        color: @secondary-color;
        border-color: @tertiary-color;
      }
    }

    .log-in-btn {
      .button;
      background-color: @secondary-color;
      color: @primary-color;
      border-radius: 0;
      border-top-right-radius: 20px;
      border-bottom-right-radius: 20px;
      &:hover {
        background-color: @tertiary-color;
        color: @secondary-color;
        border-color: @tertiary-color;
      }
    }
  }
}
