// Navigation Styles here
header {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: white;
}

.header-bar {
  position: relative;
  max-width: @container-width;
  height: @header-height;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  padding-left: 10px;
  padding-right: 10px;

  .logo {
    font-family: 'Roboto Slab', serif;
    font-size: 2rem;
    color: @primary-color;
  }

  nav {
    display: flex;
    justify-content: space-around;
    width: @container-width;
    max-width: 80%;
    margin-left: 40px;

    @media @tablet {
      display: none;
      flex-direction: column;
      position: absolute;
      right: 10px;
      top: @header-height;
      max-width: 100%;
    }

    a {
      &:hover {
        color: @primary-color;
      }
      @media @tablet {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 60px;
        background-color: white;
      }
    }
  }

  .mobile-nav {
    display: none;
    position: absolute;
    right: 10px;

    @media @tablet {
      display: inline-block;
      cursor: pointer;
    }

    div {
      width: 35px;
      height: 5px;
      background-color: @sixth-color;
      margin: 6px 0;
      transition: 0.4s;
    }

    .bar1.change {
      -webkit-transform: rotate(-45deg) translate(-9px, 6px) ;
      transform: rotate(-45deg) translate(-9px, 6px) ;
    }

    .bar2.change {
      opacity: 0;
    }

    .bar3.change {
      -webkit-transform: rotate(45deg) translate(-8px, -8px) ;
      transform: rotate(45deg) translate(-8px, -8px) ;
    }
  }

  .header-buttons {
    display: flex;
    flex-direction: row;

    @media @tablet {
      display: none;
    }

    .get-started-btn {
      .button;
      border-radius: 0;
      border-top-left-radius: 20px;
      border-bottom-left-radius: 20px;
      &:hover {
        background-color: @tertiary-color;
        color: @secondary-color;
        border-color: @tertiary-color;
      }
    }

    .log-in-btn {
      .button;
      background-color: @secondary-color;
      color: @primary-color;
      border-radius: 0;
      border-top-right-radius: 20px;
      border-bottom-right-radius: 20px;
      &:hover {
        background-color: @tertiary-color;
        color: @secondary-color;
        border-color: @tertiary-color;
      }
    }
  }
}
