//Colors
@primary-color: #bb1333;
@secondary-color: white;
@tertiary-color: #002070;

//Widths
@container-width: 1200px;
@tablet: ~"(max-width: 800px)";
@mobile: ~"(max-width: 500px)";

//Heights
@header-height: 50px;
